body {
  font-family: Arial, sans-serif;
  color: lightblue;
  background-color: rgb(51, 45, 45);
}

header {
  text-align: center;
  padding: 20px;
}

#hero-pic {
  width: 100%;
  height: auto;
}

#profilepicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.container {
  display: flex;
}

#top-nav, #sidebar-nav {
  padding: 20px;
  background-color: lightblue;
}

#top-nav {
  position: absolute;
  top: 0;
  border-bottom: 1px solid lightblue;
}
